.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tablet-port) {
    margin-bottom: 5rem

  }
}

.u-margin-bottom-sm {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-md {
  margin-bottom: 4rem !important;

  @include respond(tablet-port) {
    margin-bottom: 3rem
  }
}

.u-margin-top-md {
  margin-top: 2rem !important;
}