//COLORS
$color-headers: #242437;
$color-dark-gray-2: #363636;
$color-paragraph: #666666;
$color-light-gray-1: #f7f7f7;
$color-white: #ffffff;
$color-black: #000;

$color-primary: #ffb6b9;
$color-secondary: #ff8388;
$color-primary-light: #fbe3ef;
$color-btn-primary: #ffb6b9;
$color-primary-dark: #FF237C;
$color-pink-text:  #ff8388;

$color-gray-back-sections: #D3D3D3;

$color-uclovery: #46BEA5;
$color-uclovery-secondary: #73E673;

$color-bike-gray: #3D4955;
$color-bike-yellow: #FBF44F;
$color-challenges :#58508D;
$color-switch: #46B5D1;

$color-orange-light: #ffb900;
$color-orange-medium: #ff7730;

$color-blue-light: #54bcff;
$color-blue-medium: #7478fa;


//GRID
$grid-gap-projects-row-sm: 1rem;
$grid-gap-projects-row-medium: 2.5rem;
$grid-gap-projects-row: 5rem; //Gap between the projects page titles and content
$gap-btw-btn-footer: 5rem;