.header {
  grid-row: header-start / header-end;
  padding-top: 1.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  display: grid;
  grid-template-columns: minmax(min-content, 45vw) 1fr;
  grid-template-rows: 10vh 1fr;
  grid-gap: $grid-gap-projects-row-sm;



  @media  (max-width: 700px)  {
    grid-template-columns: 1fr;
    grid-template-rows: min-content repeat(2, min-content);
    padding: 0 1rem;
    grid-gap: 1rem;
  }

  &__content {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    justify-self: center;
    align-self: center;

    & > * {
      @media only screen and (max-width: 1200px) {
        margin-bottom: 1rem;
      }
      @media only screen and (max-width: 700px) {
        margin-bottom: 1px;
        text-align: center;
      }
    }

    @media only screen and (max-width: 700px) {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      margin-bottom: 0;
      justify-self: center;
      align-self: center;
    }
  }
  &__photo {
    grid-column: 2 / -1;
    grid-row: 2 / -1;

    @media only screen and (max-width: 700px) {
      grid-column: 1 / -1;
      grid-row: 3 / -1;
      margin-bottom: 0;
      justify-self: center;
      align-self: flex-end;
    }
  }
  &__h1 {
      margin-bottom: 1rem;
    &--text {
      font-weight: lighter !important;
    }
    &--code {
      color: $color-pink-text;
    }
  }
  &__name {
    margin-bottom: .5rem;
  }
  &__profession {
    margin-bottom: .5rem;
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &__logo {
    height: 3.5rem;
  }
  &__text-box {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-60%, -50%);
    text-align: center;
  }

}

